/* App */
.App {
  padding: 20px;
}


/* editor */

.Home {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.Home .receiverSerch{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
#receiverSerch {
  ime-mode:active;
}
.Home .card{
  width: 200px;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  
}
.Home .card-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}


.NewPaper {
  text-align: center;
  padding: 20px;
}

.NewPaper .author,
.NewPaper .receiver {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top:  1rem;
}
.NewPaper .content{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.NewPaper button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}


@media screen and (max-width: 768px) {
  .Home {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  
  }
  .Home .card{
    width: 150px;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    
  }
}