/* App */
.App {
}


/* editor */

.ReceiverSelect {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  padding-bottom: 2rem;

}
.ReceiverSelect .receiverSerch{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
#receiverSerch {
  ime-mode:active;
}
.ReceiverSelect .card{
  width: 200px;
  margin-right: 1rem;
  margin-bottom: 1.5rem;
  
}
.ReceiverSelect .card-wrap{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 1rem;
}


.PostEditor {
  text-align: center;
  padding: 20px;
}

.PostEditor .author,
.PostEditor .receiver {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top:  1rem;
}
.PostEditor .content{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}
.PostEditor button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}

